<form ng-submit="createStudent()">
	<div>
		id: {{student.id}}
	</div>
	<div>
		First name: <input type="text" ng-model="student.firstName">
	</div>
	<div>
		Last name: <input type="text" ng-model="student.lastName">
	</div>
	<div>
		Age: <input type="number" ng-model="student.age">
	</div>
	<div>
		Is male?: <input type="checkbox" ng-model="student.male">
	</div>
	{{student}}
	<button type="submit">Create</button>
	<button type="button" ng-click="changeStudent()">Change</button>
	<button type="button" ng-click="deleteStudent()">Delete</button>
</form>
<h1>Students</h1>
<button ng-click="refresh()">Refresh</button>
<div ng-repeat="student in students">
	<h3 ng-click="selectStudent(student)">{{student.firstName}} {{student.lastName}}</h3>
</div>
